.form {
}

.form__title {
    font-family: $font-accent;
    color: #700083;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 20px;
}

.form__input {
    border: 0;
    box-shadow:0 0 15px 4px rgba(112, 0, 131, 0.2);
    border-radius:10px;
    padding: 10px;
    margin-bottom: 20px;
    height: 40px;
    width: 300px;
    color: $color-accent;
    outline: none;

}


.btn {
    padding: 0 25px;
    align-items: center;
    border: 1px solid #700083;
    border-radius: 50px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 4px 4px 8px 5px rgba(112, 0, 131, 0.2);
    transition: box-shadow 0.2s;
    background-color: $color-accent;
    color: $color-bg;
    cursor: pointer;
    font-family: $font-main;
}