.timetable__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.timetable__list {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    min-height: 320px;
    border-radius: 20px;
    background: $block-bg;
    color: $color-bg;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 20px;
    font-family: $font-accent;
    padding-top: 10px;
}

.time {
    display: flex;
    line-height: normal;
    padding-bottom: 10px;
    padding-left: 15px;
}

.slogan {
    padding-top: 100px;
    min-width: 500px;
    height: 54px;
    flex-shrink: 0;
    color: #F7EEEE;
    text-shadow: 0px 2px 10px #7700ff;
    font-family: $font-accent;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 10px;
}