@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap');


body {
    font-family: $font-main;
    background-color: $color-bg;
    color: $text-color;
    font-size: 20px;
}

a {
    list-style: none;
    color: $text-color;
    transition: color 0.2s ease-in;

    &:hover {
        color: $color-accent;
    }
}


.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1400px;
}

.title {
    font-size: 30px;
    font-family: $font-accent;
    color: $color-accent;
    font-weight: 700;
    padding-bottom: 20px;
}

.no-scroll {
    overflow-y: hidden;
} 