// Fonts 

$font-main: 'Raleway', sans-serif;

$font-accent: 'Playfair Display', serif;

$font-secondary: 'Roboto', sans-serif;

// Colors

$color-bg: #F7EEEE;

$color-accent: #700083;

$text-color: #000000;

$text-color-accent: #F7EEEE;

$block-bg: rgba(112, 0, 131, 0.50);

// Media 

$tablet: 999px;